[user]
	name = David Anson
	email = david@dlaa.me
[core]
	editor = nano
[alias]
	cdfx = clean -dfx
	co = checkout
	cp = cherry-pick
	fp = fetch --tags --prune
	l = log --graph --decorate --oneline
	mf = merge --ff-only
	pf = pull --ff-only
	s = status
