[user]
	name = David Anson
	email = david@dlaa.me
[core]
	editor = nano
[alias]
	co = checkout
	cp = cherry-pick
	fp = fetch --tags --prune
	l = log --graph --decorate --oneline
	mfo = merge --ff-only
	pfo = pull --ff-only
	s = status
